@import "./utils/fonts";
@import "./utils/variables";

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

header{
    background-color: $color-header;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 7rem;
    font-family: "header";

    .logo{
        display: flex;
        text-decoration: none;
        color: black;
        height: 100%;
        flex-grow: 1;
        h1{
            font-size: $fontsize-logo;
        }
    }

    a {
        display: flex; 
        margin-right: 0.5rem;       
        i{
            margin: 0.5rem;
            background: linear-gradient(to right, $color-logo1, $color-logo2);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        h1{
            margin-right: 1.5rem;
            font-size: $fontsize-header;
        }
        &:nth-of-type(2){
            width: 6rem;
            text-decoration: none;
            color: black;
            
            h1{
                margin: auto;
            }
        }
        &:nth-of-type(3){
            text-decoration: none;
            color: black;
        }
    }
}

header a:nth-of-type(2):hover, header a:nth-of-type(3):hover{
    background-color: darken($color: $color-header, $amount: 10)
}

main{
    margin-bottom: 6rem;

    article{
        font-family: "main";
        text-decoration: none;

        p{
            margin-top: 2rem;
            font-size: 1.5rem;
            
            span{
                background: linear-gradient(to top, black 0px , black 1px, transparent 2px) no-repeat;
                background-size: 0 100%;
                transition: background-size 0.5s ease;
            }
            &:hover > span{
                background-size: 100% 100%;
            }  
        }
        img{
            width: 35%;
            margin: 1rem;
            border-radius: 2rem;
            &:hover{
                opacity: 0.8;
            }
        }
    }
}

.space-evenly{
    justify-content: space-evenly;
}

.col-color{
    background-color: $color-header;
}

div article{
    padding: 1rem;
}

.confirmation{
    background-color: $color-header;
    width: fit-content;
    padding: 1rem;
    h1{
        font-size: 2rem;
    }
    p{
        font-size: 1rem;
    }
}

footer{
    background-color: $color-header;
    font-family: "main";
    height: fit-content;
    line-height: 3rem;
    width: 100%;
}



